<div class="container">
  <div class="row">
    <% if current_user %>
      <%= render @users %>
    <% end %>
  </div>
</div>

<% if params[:people] == 'friends' && @users.blank? %>
  <h3>Sorry, <%= current_user.username %> you have no friends.</h3>
<% end %>

<% if params[:people] == 'requests' && @users.blank? %>
  <h3>Sorry, <%= current_user.username %> you have no friend requests.</h3>
<% end %>

<% if params[:people] == 'pending' && @users.blank? %>
  <h3>Sorry, <%= current_user.username %> you have no pending friend requests.</h3>
<% end %>

